:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color:#1B77CC;
    --text-white:#F8F8F9;
    --bg-color:#28528A;
    --bg2-color:#88BBEE;
    --bg3-color:#5F9BEF;
    --bg-main: white;
    --red-color: #ea1c1c;
    --logo-color:rgb(228, 16, 243);
    --name: "Thư viện Đại học Măng Non";
}

* {
    box-sizing: inherit;
    list-style: none;
    padding: 0;
    margin: 0;
}

html {
    /* font-size: 62.5%;
    line-height: 1.6rem; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;

}